.header__lang-link {
  margin: 0 0 6px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .header__lang-link {
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
