.places {
  margin: 0 auto 75px;
  display: grid;
  width: 80%;
  grid-template-rows: repeat(5, 1fr);
  gap: 75px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 93%;
    gap: 45px;
  }
}

@media screen and (max-width: 330px) {
  .places {
    width: 100%;
    gap: 20px;
  }
}
