.places__link {
  color: #fff;
  font-size: 1rem;
}

@media screen and (max-width: 770px) {
  .places__link {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 330px) {
  .places__link {
    margin-left: 20px;
  }
}
