.cover__subtitle {
  position: relative;
  color: #fff;
  text-decoration: none;
  width: 30%;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 80%;
    font-size: 14px;
    line-height: 16px;
  }
}
