.footer__container {
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr;
  gap: 18px;
}



@media screen and (max-width: 320px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, max-content);
    gap: 32px;
  }
}
