.lead__title {
  max-width: 65%;
  width: 100%;
  margin: 0 auto 35px;
  line-height: 75px;
  font-size: 4.9rem;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .lead__title {
    font-size: 3.9rem;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 770px) {
  .lead__title {
    max-width: 95%;
    width: 95%;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 2.8rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 370px) {
  .lead__title {
    font-size: 2.2rem;
  }
}
