.cover {
  position: relative;
  display: flex;
  margin: 0 auto 92px;
  width: 92.5%;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 370px) {
  .cover {
    min-height: 300px;
  }
}


@media screen and (max-width:320px) {
  .cover {
    min-height: 200px;
    margin-bottom: 64px;
  }
}
