.places__place {
  display: grid;
  grid-template-columns: repeat(2, fit-content(484px));
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: fit-content(440px) fit-content(465px);
    gap: 48px 32px
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 600px) {
  .places__place {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 320px) {
  .places__place {
    gap: 32px;
  }
}
