.places__place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: minmax(340px, 440px) minmax(340px, 440px);
    gap: 48px 32px
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 600px) {
  .places__place {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 320px) {
  .places__place {
    gap: 32px;
  }
}
