.cover__title {
  position: relative;
  width: 45%;
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 370px) {
  .cover__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 320px) {
  .cover__title {
    width: 75%;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
