.footer {
  margin: 0 auto 25px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr;
  gap: 4%;
}

@media screen and (max-width: 525px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
