.places__url-heading {
  margin: 0 0 20px;
  color: #aaa;
  font-size: .7rem;
}

@media screen and (max-width: 770px) {
  .places__url-heading {
    margin-bottom: 10px;
    font-size: .5rem;
  }
}

@media screen and (max-width: 330px) {
  .places__url-heading {
    margin-left: 20px;
  }
}
